<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVPs_sZiPkPIRhzMKHUC8S8Gicg0YFnVo</string>
	<key>GCM_SENDER_ID</key>
	<string>842564652954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modaRakiaMine.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>moda-rakia</string>
	<key>STORAGE_BUCKET</key>
	<string>moda-rakia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842564652954:ios:c23bd7f24aae71c81d3423</string>
</dict>
</plist>